* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html, 
body {
	
	height: 100%;

	
}

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;

}

/*div {

	border: 1px solid Chocolate;
}
*/
.content {
	padding: 0 15px;
	
}

.main-nav > .content {
	margin: 0 auto;
	width: 970px;
	height: 70px;
}

.main-nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
}
.main-nav .links{
	float: right;
	color: #838994;
	font-size: 1em;
	margin-top: 25px;
	
}
.main-nav .links li {
	display: inline-block;
	margin-left: 25px;
	letter-spacing: 0.03em;
}

.main-nav .logo {
	height: 70px;
}

.main-nav .links .active {
	color: #4c5058;
	font-weight: 500;
}

.main-nav .links li:hover {
	cursor: pointer;
	color: #333333;
}



